In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [2]:
ls data

 Volume in drive C has no label.
 Volume Serial Number is 548D-A501

 Directory of C:\Users\DCL\Project\Face recognition\data

07/30/2021  07:26 AM    <DIR>          .
07/30/2021  07:26 AM    <DIR>          ..
07/30/2021  04:53 AM    <DIR>          crop
07/30/2021  07:26 AM         1,552,815 dataframe_images_100_100.pickle
07/29/2021  12:24 PM    <DIR>          female
07/28/2021  12:25 PM           930,127 haarcascade_frontalface_default.xml
07/29/2021  11:24 AM    <DIR>          male
07/28/2021  12:32 PM           235,849 male_000281.jpg
07/28/2021  05:22 PM         1,439,538 male_01.png
07/27/2021  05:32 AM            42,741 test.jpg
07/28/2021  06:42 PM        17,319,083 video.mp4
               6 File(s)     21,520,153 bytes
               5 Dir(s)  29,725,880,320 bytes free

In [3]:
import pickle

In [4]:
# load pickle data
df = pickle.load(open('./data/dataframe_images_100_100.pickle','rb'))

In [5]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,32,32,32,32,32,32,32,32,29,...,21,17,17,16,15,15,15,17,16,11
1,female,250,250,250,250,250,249,247,241,193,...,15,16,16,14,16,18,20,19,22,24
2,female,161,161,162,161,158,158,133,131,88,...,70,67,58,81,97,98,105,103,103,102
3,female,95,94,96,93,91,97,98,69,25,...,194,157,44,165,188,190,190,190,189,188
4,female,36,30,32,31,43,11,7,47,30,...,152,64,54,29,35,75,213,217,222,223

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 149
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 1.4+ MB

In [7]:
# checking for missing values
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [8]:
# removeing missing values
df.dropna(axis=0,inplace=True)

In [9]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [10]:
# split the into two parts
X = df.iloc[:,1:].values # independent features
y = df.iloc[:,0].values # dependent

In [11]:
X.shape

(149, 10000)

In [12]:
X.min() , X.max()

(0, 255)

In [13]:
Xnorm = X / X.max()

In [14]:
Xnorm

array([[0.1254902 , 0.1254902 , 0.1254902 , ..., 0.06666667, 0.0627451 ,
        0.04313725],
       [0.98039216, 0.98039216, 0.98039216, ..., 0.0745098 , 0.08627451,
        0.09411765],
       [0.63137255, 0.63137255, 0.63529412, ..., 0.40392157, 0.40392157,
        0.4       ],
       ...,
       [0.48627451, 0.34117647, 0.30980392, ..., 0.0627451 , 0.18039216,
        0.18039216],
       [0.61960784, 0.57647059, 0.58431373, ..., 0.29019608, 0.30588235,
        0.3254902 ],
       [0.1254902 , 0.14117647, 0.12156863, ..., 0.0627451 , 0.07058824,
        0.09803922]])

In [15]:
Xnorm.shape

(149, 10000)

In [16]:
y

array(['female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male'],
      dtype=object)

In [18]:
# female = 1, male = 0
np.where(y=='female',1,0)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [22]:
y_norm = np.where(y=='female',1,0)

In [23]:
# saving x and y
np.savez('./data/data_100_100',Xnorm,y_norm)

In [25]:
# save x and y in numpy zip
np.savez('./data/data_10000_norm.npz',Xnorm,y_norm)